{% extends "templates/web.html" %}

{%- block title -%}{{_("Not Found")}}{%- endblock -%}

{% block page_content %}
<style>
  header { display: none; }
</style>
<script>
	window.is_404 = true;
</script>
<section>
  <div>
    <div class="row align-items-center justify-content-center no-gutters">
      <div class="col-12 col-md-5 col-lg-4 py-md-11">
        <h1 class="display-3 font-weight-bold text-center">
          Uh Oh.
        </h1>

        <p class="mb-5 text-center text-muted">
          We couldn't find the address you've requested.
        </p>

        <div class="text-center">
          <a class="btn btn-primary" href="/">
            Go to Index
          </a>
        </div>
      </div>
    </div>
    <p class='text-muted text-center small' style='margin-top: -20px;'>{{ _("Error Code: {0}").format('404') }}</p>
  </div>
</section>
{% endblock %}